.navbar {
    display: flex;
    justify-content: center ;
    gap: 1px;
}

.nav-link {
    /* should look like a button */
    padding: 10px;
    background-color: #3a5a40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    width: 200px;

    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.nav-link:hover {
    background-color: #344e41;
}